:root {
  --van-rolling-text-background: inherit;
  --van-rolling-text-color: var(--van-text-color, #323233);
  --van-rolling-text-font-size: var(--van-font-size-md, 14px);
  --van-rolling-text-gap: 0px;
  --van-rolling-text-item-width: 15px;
  --van-rolling-text-item-border-radius: 0px;
}
