:root {
  --van-notice-bar-height: 40px;
  --van-notice-bar-padding: 0 var(--van-padding-md, 16px);
  --van-notice-bar-wrapable-padding: var(--van-padding-xs, 8px) var(--van-padding-md, 16px);
  --van-notice-bar-text-color: var(--van-orange-dark, #ed6a0c);
  --van-notice-bar-font-size: var(--van-font-size-md, 14px);
  --van-notice-bar-line-height: 24px;
  --van-notice-bar-background: var(--van-orange-light, #fffbe8);
  --van-notice-bar-icon-size: 16px;
  --van-notice-bar-icon-min-width: 24px;
}
