:root {
  --van-loading-text-color: var(--van-text-color-2, #969799);
  --van-loading-text-font-size: var(--van-font-size-md, 14px);
  --van-loading-spinner-color: var(--van-gray-5, #c9c9c9);
  --van-loading-spinner-size: 30px;
  --van-loading-spinner-duration: 0.8s;
}
