:root {
  --van-empty-padding: var(--van-padding-xl, 32px) 0;
  --van-empty-image-size: 160px;
  --van-empty-description-margin-top: var(--van-padding-md, 16px);
  --van-empty-description-padding: 0 60px;
  --van-empty-description-color: var(--van-text-color-2, #969799);
  --van-empty-description-font-size: var(--van-font-size-md, 14px);
  --van-empty-description-line-height: var(--van-line-height-md, 20px);
  --van-empty-bottom-margin-top: 24px;
}
