:root {
  --van-progress-height: 4px;
  --van-progress-color: var(--van-primary-color, #1989fa);
  --van-progress-inactive-color: var(--van-gray-5, #cacece);
  --van-progress-background: var(--van-gray-3, #ebedf0);
  --van-progress-pivot-padding: 0 5px;
  --van-progress-pivot-text-color: var(--van-white, #fff);
  --van-progress-pivot-font-size: var(--van-font-size-xs, 10px);
  --van-progress-pivot-line-height: 1.6;
  --van-progress-pivot-background: var(--van-primary-color, #1989fa);
}
