:root {
  --van-uploader-size: 80px;
  --van-uploader-icon-size: 24px;
  --van-uploader-icon-color: var(--van-gray-4, #dcdee0);
  --van-uploader-text-color: var(--van-text-color-2, #969799);
  --van-uploader-text-font-size: var(--van-font-size-sm, 12px);
  --van-uploader-upload-background: var(--van-gray-1, #f7f8fa);
  --van-uploader-upload-active-color: var(--van-active-color, #f2f3f5);
  --van-uploader-delete-color: var(--van-white, #fff);
  --van-uploader-delete-icon-size: 14px;
  --van-uploader-delete-background: rgba(0, 0, 0, 0.7);
  --van-uploader-file-background: var(--van-background, #f7f8fa);
  --van-uploader-file-icon-size: 20px;
  --van-uploader-file-icon-color: var(--van-gray-7, #646566);
  --van-uploader-file-name-padding: 0 var(--van-padding-base, 4px);
  --van-uploader-file-name-margin-top: var(--van-padding-xs, 8px);
  --van-uploader-file-name-font-size: var(--van-font-size-sm, 12px);
  --van-uploader-file-name-text-color: var(--van-gray-7, #646566);
  --van-uploader-mask-text-color: var(--van-white, #fff);
  --van-uploader-mask-background: rgba(50, 50, 51, 0.88);
  --van-uploader-mask-icon-size: 22px;
  --van-uploader-mask-message-font-size: var(--van-font-size-sm, 12px);
  --van-uploader-mask-message-line-height: var(--van-line-height-xs, 14px);
  --van-uploader-loading-icon-size: 22px;
  --van-uploader-loading-icon-color: var(--van-white, #fff);
  --van-uploader-disabled-opacity: var(--van-disabled-opacity, 0.5);
}
