:root {
  --van-card-padding: var(--van-padding-xs, 8px) var(--van-padding-md, 16px);
  --van-card-font-size: var(--van-font-size-sm, 12px);
  --van-card-text-color: var(--van-text-color, #323233);
  --van-card-background: var(--van-background, #f7f8fa);
  --van-card-thumb-size: 88px;
  --van-card-thumb-radius: var(--van-radius-lg, 8px);
  --van-card-title-line-height: 16px;
  --van-card-desc-color: var(--van-text-color-2, #969799);
  --van-card-desc-line-height: var(--van-line-height-md, 20px);
  --van-card-price-color: var(--van-text-color, #323233);
  --van-card-origin-price-color: var(--van-text-color-2, #969799);
  --van-card-num-color: var(--van-text-color-2, #969799);
  --van-card-origin-price-font-size: var(--van-font-size-xs, 10px);
  --van-card-price-font-size: var(--van-font-size-sm, 12px);
  --van-card-price-integer-font-size: var(--van-font-size-lg, 16px);
  --van-card-price-font: var(--van-price-font, -apple-system-body);
}
