:root {
  --van-card-padding: var(--van-padding-xs, 8px) var(--van-padding-md, 16px);
  --van-card-font-size: var(--van-font-size-sm, 12px);
  --van-card-text-color: var(--van-text-color, #323233);
  --van-card-background: var(--van-background, #f7f8fa);
  --van-card-thumb-size: 88px;
  --van-card-thumb-radius: var(--van-radius-lg, 8px);
  --van-card-title-line-height: 16px;
  --van-card-desc-color: var(--van-text-color-2, #969799);
  --van-card-desc-line-height: var(--van-line-height-md, 20px);
  --van-card-price-color: var(--van-text-color, #323233);
  --van-card-origin-price-color: var(--van-text-color-2, #969799);
  --van-card-num-color: var(--van-text-color-2, #969799);
  --van-card-origin-price-font-size: var(--van-font-size-xs, 10px);
  --van-card-price-font-size: var(--van-font-size-sm, 12px);
  --van-card-price-integer-font-size: var(--van-font-size-lg, 16px);
  --van-card-price-font: var(--van-price-font, -apple-system-body);
}

.van-card {
  position: relative;
  box-sizing: border-box;
  padding: var(--van-card-padding);
  color: var(--van-card-text-color);
  font-size: var(--van-card-font-size);
  background: var(--van-card-background);

  &__header {
    display: flex;
    flex-direction: row;
  }

  &__thumb {
    position: relative;
    flex: none;
    width: var(--van-card-thumb-size);
    height: var(--van-card-thumb-size);
    margin-right: var(--van-padding-xs, 8px);
    overflow: hidden;

    image {
      border-radius: var(--van-card-thumb-radius);
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    min-height: var(--van-card-thumb-size);

    &--centered {
      justify-content: center;
    }
  }

  &__title,
  &__desc {
    word-wrap: break-word;
  }

  &__title {
    max-height: 32px;
    font-weight: bold;
    line-height: var(--van-card-title-line-height);
  }

  &__desc {
    max-height: var(--van-card-desc-line-height);
    color: var(--van-card-desc-color);
    line-height: var(--van-card-desc-line-height);
  }

  &__bottom {
    line-height: var(--van-line-height-md, 20px);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__price {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    color: var(--van-card-price-color);
    font-weight: bold;
    font-size: var(--van-card-price-font-size);
  }

  &__price-currency {
    font-size: var(--van-card-price-font-size);
  }

  &__price-integer {
    font-size: var(--van-card-price-integer-font-size);
    font-family: var(--van-card-price-font);
  }

  &__price-decimal {
    font-family: var(--van-card-price-font);
  }

  &__origin-price {
    display: inline-flex;
    margin-left: 5px;
    color: var(--van-card-origin-price-color);
    font-size: var(--van-card-origin-price-font-size);
    text-decoration: line-through;
  }

  &__num {
    margin-left: auto;
    color: var(--van-card-num-color);
  }

  &__tag {
    position: absolute;
    top: 2px;
    left: 0;
  }

  &__footer {
    flex: none;
    text-align: right;
  }
}
