:root {
  --van-signature-padding: var(--van-padding-xs, 8px);
  --van-signature-content-height: 200px;
  --van-signature-content-background: var(--van-background-2, #fff);
  --van-signature-content-border: 1px dotted #dadada;
}
