:root {
  --van-step-text-color: var(--van-text-color-2, #969799);
  --van-step-active-color: var(--van-primary-color, #1989fa);
  --van-step-process-text-color: var(--van-text-color, #323233);
  --van-step-font-size: var(--van-font-size-md, 14px);
  --van-step-line-color: var(--van-border-color, #ebedf0);
  --van-step-finish-line-color: var(--van-primary-color, #1989fa);
  --van-step-finish-text-color: var(--van-text-color, #323233);
  --van-step-icon-size: 12px;
  --van-step-circle-size: 5px;
  --van-step-circle-color: var(--van-gray-6, #969799);
  --van-step-horizontal-title-font-size: var(--van-font-size-sm, 12px);
}
