:root {
  --van-notify-text-color: var(--van-white, #fff);
  --van-notify-padding: var(--van-padding-xs, 8px) var(--van-padding-md, 16px);
  --van-notify-font-size: var(--van-font-size-md, 14px);
  --van-notify-line-height: var(--van-line-height-md, 20px);
  --van-notify-primary-background: var(--van-primary-color, #1989fa);
  --van-notify-success-background: var(--van-success-color, #07c160);
  --van-notify-danger-background: var(--van-danger-color, #ee0a24);
  --van-notify-warning-background: var(--van-warning-color, #ff976a);
}
