:root {
  --van-dialog-width: 320px;
  --van-dialog-font-size: var(--van-font-size-lg, 16px);
  --van-dialog-transition: var(--van-duration-base, 0.3s);
  --van-dialog-radius: 16px;
  --van-dialog-background: var(--van-background-2, #fff);
  --van-dialog-header-font-weight: var(--van-font-bold, bold);
  --van-dialog-header-line-height: 24px;
  --van-dialog-header-padding-top: 26px;
  --van-dialog-header-isolated-padding: var(--van-padding-lg, 24px) 0;
  --van-dialog-message-padding: var(--van-padding-lg, 24px);
  --van-dialog-message-font-size: var(--van-font-size-md, 14px);
  --van-dialog-message-line-height: var(--van-line-height-md, 20px);
  --van-dialog-message-max-height: 60vh;
  --van-dialog-has-title-message-text-color: var(--van-gray-7, #646566);
  --van-dialog-has-title-message-padding-top: var(--van-padding-xs, 8px);
  --van-dialog-button-height: 48px;
  --van-dialog-round-button-height: 36px;
  --van-dialog-confirm-button-text-color: var(--van-primary-color, #1989fa);
}
