:root {
  --van-back-top-size: 40px;
  --van-back-top-right: 30px;
  --van-back-top-bottom: 40px;
  --van-back-top-z-index: 100;
  --van-back-top-icon-size: 20px;
  --van-back-top-text-color: #fff;
  --van-back-top-background: var(--van-blue, #1989fa);
}
