:root {
  --van-popover-arrow-size: 6px;
  --van-popover-radius: var(--van-radius-lg, 8px);
  --van-popover-action-width: 128px;
  --van-popover-action-height: 44px;
  --van-popover-action-font-size: var(--van-font-size-md, 14px);
  --van-popover-action-line-height: var(--van-line-height-md, 20px);
  --van-popover-action-icon-size: 20px;
  --van-popover-light-text-color: var(--van-text-color, #323233);
  --van-popover-light-background: var(--van-background-2, #fff);
  --van-popover-light-action-disabled-text-color: var(--van-text-color-3, #c8c9cc);
  --van-popover-dark-text-color: var(--van-white, #fff);
  --van-popover-dark-background: #4a4a4a;
  --van-popover-dark-action-disabled-text-color: var(--van-text-color-3, #c8c9cc);
}
