:root {
  --van-share-sheet-header-padding: var(--van-padding-sm, 12px) var(--van-padding-md, 16px) var(--van-padding-base, 4px);
  --van-share-sheet-title-color: var(--van-text-color, #323233);
  --van-share-sheet-title-font-size: var(--van-font-size-md, 14px);
  --van-share-sheet-title-line-height: var(--van-line-height-md, 20px);
  --van-share-sheet-description-color: var(--van-text-color-2, #969799);
  --van-share-sheet-description-font-size: var(--van-font-size-sm, 12px);
  --van-share-sheet-description-line-height: 16px;
  --van-share-sheet-icon-size: 48px;
  --van-share-sheet-option-name-color: var(--van-gray-7, #646566);
  --van-share-sheet-option-name-font-size: var(--van-font-size-sm, 12px);
  --van-share-sheet-option-description-color: var(--van-text-color-3, #c8c9cc);
  --van-share-sheet-option-description-font-size: var(--van-font-size-sm, 12px);
  --van-share-sheet-cancel-button-font-size: var(--van-font-size-lg, 16px);
  --van-share-sheet-cancel-button-height: 48px;
  --van-share-sheet-cancel-button-background: var(--van-background-2, #fff);
}
