:root {
  --van-image-preview-index-text-color: var(--van-white, #fff);
  --van-image-preview-index-font-size: var(--van-font-size-md, 14px);
  --van-image-preview-index-line-height: var(--van-line-height-md, 20px);
  --van-image-preview-index-text-shadow: 0 1px 1px var(--van-gray-8, #323233);
  --van-image-preview-overlay-background: rgba(0, 0, 0, 0.9);
  --van-image-preview-close-icon-size: 22px;
  --van-image-preview-close-icon-color: var(--van-gray-5, #c8c9cc);
  --van-image-preview-close-icon-margin: var(--van-padding-md, 16px);
}
