:root {
  --van-pagination-height: 40px;
  --van-pagination-font-size: var(--van-font-size-md, 14px);
  --van-pagination-item-width: 36px;
  --van-pagination-item-default-color: var(--van-primary-color, #1989fa);
  --van-pagination-item-disabled-color: var(--van-gray-7, #646566);
  --van-pagination-item-disabled-background: var(--van-background, #f7f8fa);
  --van-pagination-background: var(--van-background-2, #fff);
  --van-pagination-desc-color: var(--van-gray-7, #646566);
  --van-pagination-disabled-opacity: var(--van-disabled-opacity, 0.5);
}
