:root {
  --van-tree-select-font-size: var(--van-font-size-md, 14px);
  --van-tree-select-nav-background: var(--van-background, #f7f8fa);
  --van-tree-select-content-background: var(--van-background-2, #fff);
  --van-tree-select-nav-item-padding: 14px var(--van-padding-sm, 8px);
  --van-tree-select-item-height: 48px;
  --van-tree-select-item-active-color: var(--van-primary-color, #1989fa);
  --van-tree-select-item-disabled-color: var(--van-gray-5, #c8c9cc);
  --van-tree-select-item-selected-size: 16px;
}
