:root {
  --van-stepper-background: var(--van-active-color, #f2f3f5);
  --van-stepper-button-icon-color: var(--van-text-color, #323233);
  --van-stepper-button-disabled-color: var(--van-background, #f7f8fa);
  --van-stepper-button-disabled-icon-color: var(--van-gray-5, #c8c9cc);
  --van-stepper-button-round-theme-color: var(--van-primary-color, #1989fa);
  --van-stepper-input-width: 32px;
  --van-stepper-input-height: 28px;
  --van-stepper-input-font-size: var(--van-font-size-md, 14px);
  --van-stepper-input-line-height: normal;
  --van-stepper-input-text-color: var(--van-text-color, #323233);
  --van-stepper-input-disabled-text-color: var(--van-text-color-3, #c8c9cc);
  --van-stepper-input-disabled-background: var(--van-active-color, #f2f3f5);
  --van-stepper-radius: var(--van-radius-md, 4px);
}
