:root {
  --van-dropdown-menu-height: 48px;
  --van-dropdown-menu-background: var(--van-background-2, #fff);
  --van-dropdown-menu-shadow: 0 2px 12px rgba(100, 101, 102, 0.12);
  --van-dropdown-menu-title-font-size: 15px;
  --van-dropdown-menu-title-text-color: var(--van-text-color, #323233);
  --van-dropdown-menu-title-active-text-color: var(--van-primary-color, #1989fa);
  --van-dropdown-menu-title-disabled-text-color: var(--van-text-color-2, #969799);
  --van-dropdown-menu-title-padding: 0 var(--van-padding-xs, 8px);
  --van-dropdown-menu-title-line-height: var(--van-line-height-lg, 22px);
  --van-dropdown-menu-option-active-color: var(--van-primary-color, #1989fa);
  --van-dropdown-menu-content-max-height: 80%;
}
