:root {
  --van-cell-font-size: var(--van-font-size-md, 14px);
  --van-cell-line-height: 24px;
  --van-cell-vertical-padding: 10px;
  --van-cell-horizontal-padding: var(--van-padding-md, 16px);
  --van-cell-text-color: var(--van-text-color, #323233);
  --van-cell-background: var(--van-background-2, #fff);
  --van-cell-border-color: var(--van-border-color, #ebedf0);
  --van-cell-active-color: var(--van-active-color, #f2f3f5);
  --van-cell-required-color: var(--van-danger-color, #ee0a24);
  --van-cell-label-color: var(--van-text-color-2, #969799);
  --van-cell-label-font-size: var(--van-font-size-sm, 12px);
  --van-cell-label-line-height: var(--van-line-height-sm, 18px);
  --van-cell-label-margin-top: var(--van-padding-base, 4px);
  --van-cell-value-color: var(--van-text-color-2, #969799);
  --van-cell-value-font-size: inherit;
  --van-cell-icon-size: 16px;
  --van-cell-right-icon-color: var(--van-gray-6, #969799);
  --van-cell-large-vertical-padding: var(--van-padding-sm, 12px);
  --van-cell-large-title-font-size: var(--van-font-size-lg, 16px);
  --van-cell-large-label-font-size: var(--van-font-size-md, 14px);
}
