:root {
  --van-primary-color: #1989fa;
  --van-success-color: #07c160;
  --van-danger-color: #ee0a24;
  --van-warning-color: #ff976a;
  --van-text-color: #323233;
  --van-text-color-2: #969799;
  --van-text-color-3: #c8c9cc;
  --van-active-color: #f2f3f5;
  --van-active-opacity: 0.6;
  --van-disabled-opacity: 0.5;
  --van-background: #f7f8fa;
  --van-background-2: #fff;
  --van-background-3: #f2f3f5;
}
