:root {
  --van-floating-bubble-size: 48px;
  --van-floating-bubble-initial-gap: 24px;
  --van-floating-bubble-icon-size: 28px;
  --van-floating-bubble-background: var(--van-primary-color, #1989fa);
  --van-floating-bubble-color: var(--van-background-2, #fff);
  --van-floating-bubble-z-index: 999;
  --van-floating-bubble-border-radius: var(--van-radius-max, 999px);
}
