:root {
  --van-search-padding: 10px var(--van-padding-sm, 12px);
  --van-search-background: var(--van-background-2, #fff);
  --van-search-content-background: var(--van-gray-1, #f7f8fa);
  --van-search-input-height: 34px;
  --van-search-label-padding: 0 5px;
  --van-search-label-color: var(--van-text-color, #323233);
  --van-search-label-font-size: var(--van-font-size-md, 14px);
  --van-search-left-icon-color: var(--van-gray-6, #969799);
  --van-search-action-padding: 0 var(--van-padding-xs, 8px);
  --van-search-action-text-color: var(--van-text-color, #323233);
  --van-search-action-font-size: var(--van-font-size-md, 14px);
}
