:root {
  --van-skeleton-paragraph-height: 16px;
  --van-skeleton-paragraph-background: var(--van-active-color, #f2f3f5);
  --van-skeleton-paragraph-margin-top: var(--van-padding-sm, 12px);
  --van-skeleton-title-width: 40%;
  --van-skeleton-avatar-size: 32px;
  --van-skeleton-avatar-background: var(--van-active-color, #f2f3f5);
  --van-skeleton-duration: 1.2s;
  --van-skeleton-image-size: 96px;
  --van-skeleton-image-radius: 24px;
}
