:root {
  --van-tabs-default-color: var(--van-primary-color, #1989fa);
  --van-tabs-line-height: 44px;
  --van-tabs-card-height: 30px;
  --van-tabs-nav-background: var(--van-background-2, #fff);
  --van-tabs-bottom-bar-width: 40px;
  --van-tabs-bottom-bar-height: 3px;
  --van-tabs-bottom-bar-color: var(--van-primary-color, #1989fa);
}
