:root {
  --van-divider-margin: var(--van-padding-md, 16px) 0;
  --van-divider-vertical-margin: 0 var(--van-padding-xs, 8px);
  --van-divider-text-color: var(--van-text-color-2, #969799);
  --van-divider-font-size: var(--van-font-size-md, 14px);
  --van-divider-line-height: 24px;
  --van-divider-border-color: var(--van-border-color, #ebedf0);
  --van-divider-content-padding: var(--van-padding-md, 16px);
  --van-divider-content-left-width: 10%;
  --van-divider-content-right-width: 10%;
}
