:root {
  --van-password-input-height: 50px;
  --van-password-input-margin: 0 var(--van-padding-md, 16px);
  --van-password-input-font-size: 20px;
  --van-password-input-radius: 6px;
  --van-password-input-background: var(--van-background-2, #fff);
  --van-password-input-info-color: var(--van-text-color-2, #969799);
  --van-password-input-info-font-size: var(--van-font-size-md, 14px);
  --van-password-input-error-info-color: var(--van-danger-color, #ee0a24);
  --van-password-input-dot-size: 10px;
  --van-password-input-dot-color: var(--van-text-color, #323233);
  --van-password-input-cursor-color: var(--van-text-color, #323233);
  --van-password-input-cursor-width: 1px;
  --van-password-input-cursor-height: 40%;
  --van-password-input-cursor-duration: 1s;
}
