:root {
  --van-nav-bar-height: 46px;
  --van-nav-bar-background: var(--van-background-2, #fff);
  --van-nav-bar-arrow-size: 16px;
  --van-nav-bar-icon-color: var(--van-primary-color, #1989fa);
  --van-nav-bar-text-color: var(--van-primary-color, #1989fa);
  --van-nav-bar-title-font-size: var(--van-font-size-lg, 16px);
  --van-nav-bar-title-text-color: var(--van-text-color, #323233);
  --van-nav-bar-z-index: 1;
}
