:root {
  --van-sidebar-font-size: var(--van-font-size-md, 14px);
  --van-sidebar-line-height: var(--van-line-height-md, 20px);
  --van-sidebar-text-color: var(--van-text-color, #323233);
  --van-sidebar-disabled-text-color: var(--van-text-color-3, #c8c9cc);
  --van-sidebar-padding: 20px var(--van-padding-sm, 12px);
  --van-sidebar-active-color: var(--van-active-color, #f2f3f5);
  --van-sidebar-background: var(--van-background, #f7f8fa);
  --van-sidebar-selected-font-weight: var(--van-font-bold, bold);
  --van-sidebar-selected-text-color: var(--van-text-color, #323233);
  --van-sidebar-selected-border-width: 4px;
  --van-sidebar-selected-border-height: 16px;
  --van-sidebar-selected-border-color: var(--van-primary-color, #1989fa);
  --van-sidebar-selected-background: var(--van-background-2, #fff);
}
