:root {
  --van-grid-item-content-padding: var(--van-padding-md, 16px) var(--van-padding-xs, 8px);
  --van-grid-item-content-background: var(--van-background-2, #fff);
  --van-grid-item-content-active-color: var(--van-active-color, #f2f3f5);
  --van-grid-item-icon-size: 28px;
  --van-grid-item-text-color: var(--van-text-color, #323233);
  --van-grid-item-text-font-size: var(--van-font-size-sm, 12px);
}
