:root {
  --van-swipe-indicator-size: 6px;
  --van-swipe-indicator-margin: var(--van-padding-sm, 12px);
  --van-swipe-indicator-active-opacity: 1;
  --van-swipe-indicator-inactive-opacity: 0.3;
  --van-swipe-indicator-active-background: var(--van-primary-color, #1989fa);
  --van-swipe-indicator-inactive-background: var(--van-border-color, #ebedf0);
}
