:root {
  --van-rate-icon-size: 20px;
  --van-rate-icon-gutter: var(--van-padding-base, 4px);
  --van-rate-icon-void-color: var(--van-gray-5, #c8c9cc);
  --van-rate-icon-full-color: var(--van-danger-color, #ee0a24);
  --van-rate-icon-disabled-color: var(--van-gray-5, #c8c9cc);
}
