@import '@vant/icons/src/index.less';

@keyframes van-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --van-icon-size: inherit;
  --van-icon-color: inherit;
  --van-icon-dot-size: 8px;
  --van-icon-dot-color: var(--van-danger-color);
  --van-icon-dot-top: 0;
  --van-icon-dot-right: 0;
}

.van-icon {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--van-icon-size);
  color: var(--van-icon-color);
  line-height: 1;

  &--spin {
    animation: van-rotate var(--van-animation-duration-slow) linear infinite;
  }

  &__image {
    display: block;
    width: 1em;
    height: 1em;
    object-fit: contain;
  }

  .van-badge {
    position: absolute;
    top: var(--van-icon-dot-top);
    right: var(--van-icon-dot-right);
    transform: translate(50%, -50%);
    transform-origin: 100%;
  }
}
