:root {
  --van-radio-size: 20px;
  --van-radio-border-color: var(--van-gray-5, #c8c9cc);
  --van-radio-duration: var(--van-duration-fast, 0.2s);
  --van-radio-label-margin: var(--van-padding-xs, 8px);
  --van-radio-label-color: var(--van-text-color, #323233);
  --van-radio-checked-icon-color: var(--van-primary-color, #1989fa);
  --van-radio-disabled-icon-color: var(--van-gray-5, #c8c9cc);
  --van-radio-disabled-label-color: var(--van-text-color-3, #c8c9cc);
  --van-radio-disabled-background: var(--van-border-color, #ebedf0);
}
