:root {
  --van-cell-group-background: var(--van-background-2, #fff);
  --van-cell-group-title-color: var(--van-text-color-2, #969799);
  --van-cell-group-title-padding: var(--van-padding-md, 16px) var(--van-padding-md, 16px);
  --van-cell-group-title-font-size: var(--van-font-size-md, 14px);
  --van-cell-group-title-line-height: 16px;
  --van-cell-group-inset-padding: 0 var(--van-padding-md, 16px);
  --van-cell-group-inset-radius: var(--van-radius-lg, 8px);
  --van-cell-group-inset-title-padding: var(--van-padding-md, 16px) var(--van-padding-md, 16px);
}
