:root {
  --van-watermark-z-index: 100;
}

.van-watermark {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: var(--van-watermark-z-index);
  pointer-events: none;
  overflow: hidden;

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  &--full {
    position: fixed;
  }
}
