:root {
  --van-circle-size: 100px;
  --van-circle-color: var(--van-primary-color, #1989fa);
  --van-circle-layer-color: var(--van-white, #fff);
  --van-circle-text-color: var(--van-text-color, #323233);
  --van-circle-text-font-weight: var(--van-font-bold, bold);
  --van-circle-text-font-size: var(--van-font-size-md, 14px);
  --van-circle-text-line-height: var(--van-line-height-md, 20px);
}

.van-circle {
  position: relative;
  width: var(--van-circle-size);
  height: var(--van-circle-size);
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--van-circle-text-color);
    font-weight: var(--van-circle-text-font-weight);
    font-size: var(--van-circle-text-font-size);
    line-height: var(--van-circle-text-line-height);
    transform: translateY(-50%);
  }
}
