:root {
  --van-circle-size: 100px;
  --van-circle-color: var(--van-primary-color, #1989fa);
  --van-circle-layer-color: var(--van-white, #fff);
  --van-circle-text-color: var(--van-text-color, #323233);
  --van-circle-text-font-weight: var(--van-font-bold, bold);
  --van-circle-text-font-size: var(--van-font-size-md, 14px);
  --van-circle-text-line-height: var(--van-line-height-md, 20px);
}
