:root {
  --van-coupon-list-background: var(--van-background, #f7f8fa);
  --van-coupon-list-field-padding: 5px 0 5px var(--van-padding-md, 16px);
  --van-coupon-list-exchange-button-height: 32px;
  --van-coupon-list-close-button-height: 40px;
  --van-coupon-list-empty-tip-color: var(--van-text-color-2, #969799);
  --van-coupon-list-empty-tip-font-size: var(--van-font-size-md, 14px);
  --van-coupon-list-empty-tip-line-height: var(--van-line-height-md, 20px);
}

.van-coupon-list {
  height: 100%;
  background: var(--van-coupon-list-background);

  &__field {
    padding: var(--van-coupon-list-field-padding);
    flex: 1;
  }

  &__exchange-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--van-background-2, #fff);
  }

  &__exchange {
    flex: none;
    height: var(--van-coupon-list-exchange-button-height);
    font-size: var(--van-font-size-lg, 16px);
    border: 0;
  }

  &__list {
    padding: var(--van-padding-md, 16px) 0 var(--van-padding-lg, 24px);

    &--with-bottom {
      padding-bottom: 50px;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 5px var(--van-padding-md, 16px);
    font-weight: var(--van-font-bold, bold);
    background-color: var(--van-background-2, #fff);
  }

  &__close {
    height: var(--van-coupon-list-close-button-height);
  }

  &__empty-tip {
    color: var(--van-coupon-list-empty-tip-color);
    font-size: var(--van-coupon-list-empty-tip-font-size);
    line-height: var(--van-coupon-list-empty-tip-line-height);
  }
}
