:root {
  --van-coupon-margin: 0 var(--van-padding-sm, 12px) var(--van-padding-sm, 12px);
  --van-coupon-content-height: 84px;
  --van-coupon-content-padding: 14px 0;
  --van-coupon-content-text-color: var(--van-text-color, #323233);
  --van-coupon-background: var(--van-background-2, #fff);
  --van-coupon-active-background: var(--van-active-color, #f2f3f5);
  --van-coupon-radius: var(--van-radius-lg, 8px);
  --van-coupon-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  --van-coupon-list-background: var(--van-background, #f7f8fa);
  --van-coupon-list-field-padding: 5px 0 5px var(--van-padding-md, 16px);
  --van-coupon-list-exchange-button-height: 32px;
  --van-coupon-list-close-button-height: 40px;
  --van-coupon-list-empty-image-size: 200px;
  --van-coupon-list-empty-tip-color: var(--van-text-color-2, #969799);
  --van-coupon-list-empty-tip-font-size: var(--van-font-size-md, 14px);
  --van-coupon-list-empty-tip-line-height: var(--van-line-height-md, 20px);
}
