:root {
  --van-badge-size: 16px;
  --van-badge-color: var(--van-white, #fff);
  --van-badge-padding: 0 3px;
  --van-badge-font-size: var(--van-font-size-xs, 10px);
  --van-badge-font-weight: var(--van-font-bold, bold);
  --van-badge-border-width: var(--van-border-width, 1px);
  --van-badge-background: var(--van-danger-color, #ee0a24);
  --van-badge-dot-color: var(--van-danger-color, #ee0a24);
  --van-badge-dot-size: 8px;
}
