:root {
  --van-cascader-header-height: 48px;
  --van-cascader-header-padding: 0 var(--van-padding-md, 16px);
  --van-cascader-title-font-size: var(--van-font-size-lg, 16px);
  --van-cascader-title-line-height: 20px;
  --van-cascader-close-icon-size: 22px;
  --van-cascader-close-icon-color: var(--van-gray-5, #c8c9cc);
  --van-cascader-selected-icon-size: 18px;
  --van-cascader-tabs-height: 48px;
  --van-cascader-active-color: var(--van-danger-color, #ee0a24);
  --van-cascader-options-height: 384px;
  --van-cascader-option-disabled-color: var(--van-text-color-3, #c8c9cc);
  --van-cascader-tab-color: var(--van-text-color, #323233);
  --van-cascader-unselected-tab-color: var(--van-text-color-2, #969799);
}
