:root {
  --van-popup-background: var(--van-background-2, #fff);
  --van-popup-transition: transform var(--van-duration-base, 0.3s);
  --van-popup-round-radius: 16px;
  --van-popup-close-icon-size: 22px;
  --van-popup-close-icon-color: var(--van-gray-5, #c8c9cc);
  --van-popup-close-icon-margin: 16px;
  --van-popup-close-icon-z-index: 1;
}
