:root {
  --van-button-mini-height: 24px;
  --van-button-mini-padding: 0 var(--van-padding-base, 4px);
  --van-button-mini-font-size: var(--van-font-size-xs, 10px);
  --van-button-small-height: 32px;
  --van-button-small-padding: 0 var(--van-padding-xs, 8px);
  --van-button-small-font-size: var(--van-font-size-sm, 12px);
  --van-button-normal-padding: 0 15px;
  --van-button-normal-font-size: var(--van-font-size-md, 14px);
  --van-button-large-height: 50px;
  --van-button-default-height: 44px;
  --van-button-default-line-height: 1.2;
  --van-button-default-font-size: var(--van-font-size-lg, 16px);
  --van-button-default-color: var(--van-text-color, #323233);
  --van-button-default-background: var(--van-background-2, #fff);
  --van-button-default-border-color: var(--van-gray-4, #ebedf0);
  --van-button-primary-color: var(--van-white, #fff);
  --van-button-primary-background: var(--van-primary-color, #1989fa);
  --van-button-primary-border-color: var(--van-primary-color, #1989fa);
  --van-button-success-color: var(--van-white, #fff);
  --van-button-success-background: var(--van-success-color, #07c160);
  --van-button-success-border-color: var(--van-success-color, #07c160);
  --van-button-danger-color: var(--van-white, #fff);
  --van-button-danger-background: var(--van-danger-color, #ee0a24);
  --van-button-danger-border-color: var(--van-danger-color, #ee0a24);
  --van-button-warning-color: var(--van-white, #fff);
  --van-button-warning-background: var(--van-warning-color, #ff976a);
  --van-button-warning-border-color: var(--van-warning-color, #ff976a);
  --van-button-border-width: var(--van-border-width, 1px);
  --van-button-radius: var(--van-radius-sm, 2px);
  --van-button-round-radius: var(--van-radius-max, 999px);
  --van-button-plain-background: var(--van-white, #fff);
  --van-button-disabled-opacity: var(--van-disabled-opacity, 0.5);
  --van-button-icon-size: 1.2em;
  --van-button-loading-icon-size: 20px;
}
