:root {
  --van-toast-max-width: 70%;
  --van-toast-font-size: var(--van-font-size-md, 14px);
  --van-toast-text-color: var(--van-white, #fff);
  --van-toast-loading-icon-color: var(--van-white, #fff);
  --van-toast-line-height: var(--van-line-height-md, 20px);
  --van-toast-radius: var(--van-radius-lg, 8px);
  --van-toast-background: rgba(0, 0, 0, 0.7);
  --van-toast-icon-size: 36px;
  --van-toast-text-min-width: 96px;
  --van-toast-text-padding: var(--van-padding-xs, 8px) var(--van-padding-sm, 12px);
  --van-toast-default-padding: var(--van-padding-md, 16px);
  --van-toast-default-width: 88px;
  --van-toast-default-min-height: 88px;
  --van-toast-position-top-distance: 20%;
  --van-toast-position-bottom-distance: 20%;
}
