:root {
  --van-floating-panel-border-radius: 16px 16px 0 0;
  --van-floating-panel-header-height: 30px;
  --van-floating-panel-z-index: 999;
  --van-floating-panel-background: var(--van-background-2, #fff);
  --van-floating-panel-bar-width: 20px;
  --van-floating-panel-bar-height: 3px;
  --van-floating-panel-bar-color: var(--van-gray-5, #c8c9cc);
}
